aniso8601
beautifulsoup4
blinker
certifi
cffi
charset-normalizer
click
colorama
curl_cffi
Flask
Flask-Login
Flask-RESTful
Flask-WTF
frozendict
greenlet
idna
itsdangerous
Jinja2
MarkupSafe
multitasking
numpy
pandas
peewee
pip
platformdirs
psycopg2-binary
pycoingecko
pycparser
python-dateutil
pytz
requests
setuptools
six
soupsieve
SQLAlchemy
sqlalchemy-serializer
typing_extensions
tzdata
urllib3
Werkzeug
WTForms
yfinance
