form.main_top {
    margin-left: 0%;
    height: 75px;
    width: 100%;
    border-radius: 0px;
    padding: 10px;
    background-color: rgba(60, 60, 60, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(8px);
}
form.main_bottom {
    margin-left: 0%;
    margin-top: 18%;
    height: 100%;
    border-radius: 0px;
    padding: 10px;
    background-color: rgb(60, 60, 60);
}
div.unregister {
    margin-top: 0.5%;
    text-align: right;
}
div.register {
    margin-top: 0.5%;
    text-align: right;
}
.btn-information {
    background-color: white;
    color: rgb(60, 60, 60);
    border: 1px solid white;
    border-radius: 10px;
}
.btn-information:hover {
    background-color: rgb(180, 180, 180);
    color: rgb(30, 30, 30);
    border: 1px solid white;
    border-radius: 10px;
}
.btn-assets {
    background-color: white;
    color: rgb(60, 60, 60);
    border: 1px solid white;
    border-radius: 10px;
}
.btn-assets:hover {
    background-color: rgb(180, 180, 180);
    color: rgb(30, 30, 30);
    border: 1px solid white;
    border-radius: 10px;
}
.btn-register {
    background-color: white;
    color: rgb(60, 60, 60);
    border: 1px solid white;
    border-radius: 10px;
}
.btn-register:hover {
    background-color: rgb(180, 180, 180);
    color: rgb(30, 30, 30);
    border: 1px solid grey;
    border-radius: 10px;
}
.btn-login {
    color: rgb(255, 255, 255);
    border: 1px solid gray;
    border-radius: 10px;
}
.btn-login:hover {
    background-color: rgb(60, 60, 60);
    color: rgb(120, 120, 120);
    border: 1px solid darkgray;
    border-radius: 10px;
}
.btn-start-free {
    font-size: 150%;
    color: white;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgb(0, 121, 46);
    border: 1px, solid rgb(0, 100, 30);
    width: 20%;
}
.btn-start-free:hover {
    font-size: 150%;
    color: white;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgb(10, 131, 56);
    border: 1px, solid rgb(10, 110, 40);
    width: 20%;
}
.btn-account {
    color: rgb(255, 255, 255);
    border: 1px solid gray;
    border-radius: 10px;
}
.btn-account:hover {
    background-color: rgb(60, 60, 60);
    color: rgb(120, 120, 120);
    border: 1px solid darkgray;
    border-radius: 10px;
}
.large_text_size {
    font-size: 350%;
    font-family: 'Bookman Old Style';
}
.button_text_size {
    margin-top: 2%;
    font-size: 200%;
}
.main_bottom_text {
    margin-top: 1%;
    margin-left: 5%;
    font-size: 180%;
    color:rgb(163, 163, 163);
}
.link_text {
    font-family: 'Bookman Old Style';
    color:antiquewhite;
    font-size: 180%;
}
div.center {
    margin-top: 10%;
    text-align: center;
}