form.main_top {
    margin-left: 0%;
    height: 75px;
    border-radius: 0px;
    padding: 10px;
    background-color: rgb(60, 60, 60);
}
form.main_bottom {
    margin-left: 0%;
    margin-top: 20%;
    height: 100%;
    border-radius: 0px;
    padding: 10px;
    background-color: rgb(60, 60, 60);
}
div.button_top {
    margin-top: 0.5%;
    text-align: right;
}
.btn-light {
    background-color: white;
    color: rgb(60, 60, 60);
    border: 1px solid white;
    border-radius: 20px;
}
.btn-outline-dark {
    color: rgb(255, 255, 255);
    border: 1px solid white;
    border-radius: 20px;
}
.large_text_size {
    font-size: 400%;
}
.button_text_size {
    font-size: 200%;
}
.main_bottom_tex{
    margin-top: 1%;
    margin-left: 5%;
    font-size: 180%;
    color:rgb(163, 163, 163);
}
div.center {
    margin-top: 10%;
    text-align: center;
}