{% extends "base.html" %}


{% block content %}
<style>
    body {
    background-color: rgb(80, 80, 90);
    }
</style>
<link rel="stylesheet" href={{styles_css}}>
<form class="main_top">
    <a href="/" class="btn btn-white">Домой</a>
    <a href="/assets" class="btn btn-white">Назад</a>
    <a href="/assets/add/currency" class="btn btn-white">Купить валюты</a>
</form>
{% for currency in all_currencies %}
<div class="row">
    <form class="assets">
        <div class="white-area"></div>
        <div class="assets-form">
            <h3 class="white">Транзакция акций №{{currency.id}}</h3>
            <p>Код валюты: {{currency.name}}</p>
            <p>Количество валюты: {{currency.amount}}</p>
        </div>
        <a href="/assets/currency_delete/{{currency.id}}" class="btn btn-delete-asset">Продать валюту</a>
    </form>
    <form class="assets-info">
        <div class="white-area"> </div>
        <div class="assets-form">
            <p>Текущая цена валюты: {{extra_data[loop.index0][0]}} руб</p>
            <p>Начальная цена покупки: {{currency.original_price}} руб</p>
            <p>Текущая цена покупки: {{extra_data[loop.index0][1]}} руб</p>
            <p>Общий доход: {{extra_data[loop.index0][2]}} %</p>
        </div>
        <div class="white-area"> </div>
    </form>
</div>
{% endfor %}
{% endblock %}