{% extends "base.html" %}

{% block content %}
<style>
    body {
    background: linear-gradient(rgba(225, 225, 225, 0.8), rgba(0, 0, 0, 0.5) ), url('static/image/back_ground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    }
</style>
<link rel="stylesheet" href={{ styles_css }}>
<form class="main">
    <div class="button">
        <a href="" class="btn btn-light">Information</a>
        <a href="" class="btn btn-light">Sign up</a>
        <a href="" class="btn btn-outline-dark">Sign in</a>
    </div>
</form>
{% endblock %}