{% extends "base.html" %}

{% block content %}
<style>
    body {
    background: linear-gradient(rgba(225, 225, 225, 0.8), rgba(0, 0, 0, 0.5) ), url('static/image/back_ground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    }
</style>
<link rel="stylesheet" href={{ styles_css }}>
<form class="main_top">
    <div class="button_top">
        <a href="" class="btn btn-light">Информация</a>
        <a href="" class="btn btn-light">Зарегистрироваться</a>
        <a href="/login" class="btn btn-outline-dark">Войти</a>
    </div>
</form>
<div class="center">
    <h1 class="large_text_size">Достигайте финансовых целей с нами!</h1>
    <h3> Учёт и анализ своего бюджета</h3>
    <a href="" class="btn btn-dark button_text_size">Начать бесплатно</a>
</div>
<form class="main_bottom">
    <img src="{{ photo }}" width="30%" height="30%" align="right" alt="здесь должна была быть картинка, но не нашлась">
    <p class="main_bottom_tex">Добро пожаловать на наш сайт — ваш</p>
    <p class="main_bottom_tex">надежный помощник в управлении личными финансами!</p>
    <p class="main_bottom_tex">Мы предлагаем простые и удобные инструменты для</p>
    <p class="main_bottom_tex">отслеживания доходов и расходов, планирования</p>
    <p class="main_bottom_tex">бюджета и достижения ваших финансовых целей.</p>
</form>
{% endblock %}